In [16]:
import psycopg2

# Create a connection with Postgres

In [17]:
try:
    conn=psycopg2.connect(dbname='test',  user='postgres', host='localhost' ,password='stipulated', port='5432')
except psycopg2.Error as e:
    print(e)

In [18]:
conn

Use connection to get a cursor

In [19]:
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get cursor to the database')
    print(e)

In [20]:
conn.set_session(autocommit=True)

CREATE A DATABASE

In [21]:
try:
    cur.execute('create database mydemo')
except psycopg2.Error as e:
    print(e)

closs connection and connect to the database

In [26]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)


try:
    conn=psycopg2.connect(dbname='mydemo',  user='postgres', host='localhost' ,password='stipulated', port='5432')
except psycopg2.Error as e:
    print('Error: Could not make connection to postgres database')
    print(e)
    
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get cursor to the database')
    print(e)
    
conn.set_session(autocommit=True)

Create Table

In [27]:
try:
    cur.execute('CREATE TABLE students(student_id int, name varchar, age int, gender varchar, subject varchar, marks int);')
except psycopg2.Error as e:
    print('Error: Issue creating table')
    print (e)

Insert the following rows in the table

In [31]:
try:
    cur.execute('INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s,%s,%s,%s,%s,%s)',
                (1, 'Rag', 23,'Male','python',85))
except psycopg2.Error as e:
    print('Error: Inserting Rows')
    print(e)

try:
    cur.execute('INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s,%s,%s,%s,%s,%s)',
                (6, 'Mike', 30,'Male','javascript',78)) 
except psycopg2.Error as e:
    print('Error: Issue inserting into rows')
    print (e)

Check if your data was inserted into the rows

In [50]:
cur.execute('select * from students;')

In [51]:
cur.fetchall()

[(1, 'Rag', 23, 'Male', 'python', 85),
 (1, 'Rag', 23, 'Male', 'python', 85),
 (6, 'Mike', 30, 'Male', 'javascript', 78)]

close connection

In [52]:
cur.close()
conn.close()